.container {
  max-width: 100%;
  padding: 0 40px 80px 40px;
  background-color: #FFFFF1;
}

.title {
  font-weight: 700;
  font-size: 64px;
  color: #424436;
  margin-bottom: 40px;
  line-height: 110%;
}

@media (max-width: 1439px) {
  .container {
    padding: 0 20px 60px 20px;
  }

  .title {
    margin-bottom: 32px;
  }
}

@media (max-width: 999px) {
  .title {
    font-size: 56px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 32px 20px 56px 20px;
  }

  .title {
    font-size: 48px;
    margin-bottom: 24px;
  }
}

@media (max-width: 479px) {
  .title {
    font-size: 40px;
  }
}