.discount_form {
    border-radius: 12px;
    padding: 32px 32px 0px 32px;
    width: 1360px;
    height: 514px;
    background: linear-gradient(37deg, #87933d 0%, #55610b 100%);
    margin: auto;
    margin-top: 80px;
}

.discount_form p {
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    line-height: 110%;
    margin-bottom: 24px;
}

.discount_form_container {
    display: flex;
    gap: 32px;
}

.discount_form img {
    width: 748px;
    height: 388px;
}

.form {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 516px;
    height: 324px;
}

.form input {
    border: 1px solid #fffff1;
    border-radius: 6px;
    padding: 16px 32px;
    width: 516px;
    height: 58px;
    background: linear-gradient(37deg, #87933d 0%, #55610b 100%);
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    margin-bottom: 16px;
    transition: all 0.3s ease; 
}

.form input:hover {
    border-color: #92A134; 
    box-shadow: 0px 4px 8px rgba(146, 161, 52, 0.3); 
}

.form input:focus {
    border-color: #92A134;
    box-shadow: 0px 0px 8px rgba(146, 161, 52, 0.5); 
    outline: none;
}

.form input::placeholder {
    color: white;
}

.form .btn {
    border-radius: 6px;
    border: 1px solid white;
    padding: 16px 32px;
    width: 516px;
    height: 58px;
    background: #ffffff;
    color: #55610b;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    margin: 44px 0 32px 0;
    transition: all 0.3s ease; 
}

.form .btn:hover {
    background-color: #e5e4d3;
    color: #87933d;
}

.input_group {
    position: relative;
}

.error_message {
    position: absolute;
    right: 10px;
    top: 22px;
    color: white;
    font-size: 14px;
}
