.title_block {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.title {
    font-weight: 700;
    font-size: 64px;
    line-height: 110%;
    color: #424436;
}

.line {
    margin-left: 32px;
    flex-grow: 1;
    /* Позволяет линии занимать оставшееся пространство */
    height: 1px;
    background-color: #ddd;
}

.Btn {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 8px 16px;
    width: fit-content;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #8b8b8b;
    cursor: pointer;
}