.all_products {
    max-width: 1440px;
    margin: auto;
    background-color: #FFFFF1;
    padding: 0 40px;
}

.all_products h3 {
    font-weight: 700;
    font-size: 64px;
    color: #424436;
    margin: auto;
}

/* удалить потом. шаблон */
@media (max-width: 1439px) {
    
  }
  
@media (max-width: 999px) {
   
  }
  
@media (max-width: 767px) {
   
  }

@media (max-width: 479px) {
   
  }

