.container {
    background-color: #FFFFF1;
    max-width: 100%;
    padding: 40px 40px 80px 40px;
}

.price_container {
    display: flex;
    align-items: end;
    gap: 135px;
}

.order_details {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
    color: #424436;
}

.total {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.3;
    color: #8b8b8b;
}

.total_sum {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
    color: #424436;
}

.continue_button {
    border-radius: 6px;
    margin-top: 32px;
    padding: 16px 56px;
    width: 313px;
    height: 58px;
    background: #92a134;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-top: 40px;
}

.name_page {
    font-weight: 700;
    font-size: 64px;
    color: #424436;
    margin-bottom: 40px;
}

.cart {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 32px;

}

.details {
    background-color: #F2F6D3;
    border-radius: 12px;
    padding: 32px;
    /* width: 350px;
    height: 450px; */
}

@media (max-width: 1439px) {
    .container {
        padding: 40px 20px 60px 20px;
    }

    .price_container {
        gap: 81px;
    }

    .cart {
        gap: 20px;
    }

    .details {
        padding: 32px 20px;
    }
}

@media (max-width: 999px) {
    .container {
        padding: 32px 20px 60px 20px;
    }

    .price_container {
        gap: 390px;
    }

    .order_details {
        font-size: 32px;
    }

    .total {
        font-size: 32px;
    }

    .total_sum {
        font-size: 56px;
    }

    .name_page {
        font-size: 56px;
        margin-bottom: 32px;
    }

    .cart {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .price_container {
        gap: 144px;
    }

    .order_details {
        font-size: 28px;
    }

    .total {
        font-size: 28px;
    }

    .total_sum {
        font-size: 48px;
    }

    .continue_button {
        margin-top: 24px;
        padding: 12px 52px;
        width: 285px;
        height: 47px;
        font-size: 18px;

    }

    .name_page {
        font-size: 48px;
        margin-bottom: 24px;
    }

    .details {
        padding: 24px 20px;
    }
}

@media (max-width: 479px) {
    .price_container {
        gap: 55px;
    }

    .total_sum {
        font-size: 40px;
    }

    .name_page {
        font-size: 40px;
    }
}