.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 28px 40px;
    background-color: #FFFFF1;
    /* font-family: "Montserrat", sans-serif; */
    max-width: 1440px;
    margin: auto;
    gap: 32px;
}


.logo > img {
    width: 70px;
    height: 70px;
}

.cart > img  {
    width: 48px;
    height: 48px;
}