.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px ;
    background-color: #FFFFF1;
    font-family: "Montserrat", sans-serif;

}


.logo > img {
    width: 70px;
    height: 70px;
}