.breadcrumbs {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #FFFFF1;
    max-width: 100%;

}

.breadcrumbs_item {
    display: inline-flex;
    align-items: center;
}

.line {
    display: inline-block;
    width: 16px;
    height: 1px;
    background-color: #ddd;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 126%;
    padding: 8px 16px;
    border: 2px solid #ddd;
    border-radius: 6px;
    color: #ddd;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.breadcrumbs_item:last-child .button {
    color: #424436;
    pointer-events: none;
}

.button:hover {
    background-color: gray;
    color: #fff;
}


@media (max-width: 999px) {
    .button {
        font-size: 12px;
    }

    .breadcrumbs {
        padding: 32px 0;
    }
}

@media (max-width: 767px) {
    .breadcrumbs {
        display: none;
    }
}