.breadcrumbs {
    font-size: 14px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 0;
}

.breadcrumbs_item {
    display: inline-flex;
    align-items: center;
}

.line {
    display: inline-block; 
    width: 50px; 
    height: 2px; 
    background-color: lightgrey; 
    margin: 0 10px; 
}

.button {
    font-size: 14px;
    font-weight: bold;
    padding: 6px 12px;
    border: 2px solid lightgray; 
    border-radius: 6px;
    color: lightgray;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.breadcrumbs_item:last-child .button{
    color: #424436;
    pointer-events: none;
}

.button:hover {
    background-color: gray; 
    color: #fff;
}