* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}




.app_wrapper {
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_container {
  max-width: 1440px;
  width: 100%;
}



@media (max-width: 1439px) {
  .main_container {
    max-width: 1000px;
  }
}

@media (max-width: 999px) {
  .main_container {
    max-width: 768px;
  }
}

@media (max-width: 767px) {
  .main_container {
    max-width: 480px;
  }
}

@media (max-width: 479px) {
  .main_container {
    max-width: 360px;
  }
}